@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

/* .inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: ;
  font-style: normal;
}

.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: ;
  font-style: normal;
  
} */
* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #f5f8ff;
}
/* nav section start */
nav {
  max-width: 1140px;
  /* width: 1140px;
  height: 70px; */
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  padding-bottom: 120px;
}
.nav-item,
.item-nav,
a {
  text-decoration: none;
  list-style: none;
  color: rgb(137, 135, 161);
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  padding-left: 40px;
}
ul,
li,
a:hover {
  color: rgb(37, 36, 50);
}
/* banner section start */
.banner {
  max-width: 1140px;
  /* width: 1140px;
  height: 461px; */
  margin: 0 auto;
  display: flex;
  padding-bottom: 120px;
}
.font-color {
  color: rgb(233, 90, 8);
}
.banner-title {
  font-family: "Noto Serif", serif;
  font-size: 4rem;
  font-weight: 700;
  padding-top: 60px;
  padding-bottom: 13px;
}
.banner-description {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
}
/* Plants Section start   */

.plants-content {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
}

.plants-title {
  font-family: "Noto Serif", serif;
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 15px;
}
.plants-description {
  width: 888px;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Inter", sans-serif;
  font-size: 1.15rem;
  font-weight: 400;
  margin: 0 auto;
}
.cards {
  width: 1140px;
  /* height: 1000px; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  padding-top: 50px;
}
.cards-item {
  width: 270px;
  height: 485px;
}
.card-title {
  color: rgb(17, 17, 17);
  font-family: "Inter", sans-serif;
  font-size: 1.15rem;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: center;
}
.card-price {
  color: rgb(17, 17, 17);
  font-family: "Inter", sans-serif;
  font-size: 1.15rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}
.card-btn {
  width: 270px;
  height: 50px;
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  background: rgb(233, 90, 8);
  border: none;
}
/* Plants Lover Section start */

.plants-lover {
  width: 1140px;
  /* height: 597px; */
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 100px;
}
.plants-lover-image {
  width: 540px;
  /* height: 597px; */
}
.flower-store {
  position: absolute;
}
.trusted {
  width: 286px;
  /* height: 286px; */
  position: relative;
  margin-left: 360px;
  margin-top: -100px;

  /* margin-top: -300px;
  margin-left: 380px; */
}
.plants-lover-content {
  width: 540px;
  /* height: 521px; */
  padding-top: 50px;
}
.flower-text {
  color: rgb(0, 0, 0);
  font-family: "Noto Serif", serif;
  font-size: 3.15rem;
  font-weight: 700;
  padding-bottom: 20px;
  padding-left: 30px;
}
.lover-li {
  width: 430px;
  /* height: 108px; */
  padding-left: 60px;
}
.list-one {
  color: #7a7c7f;
  font-family: "Inter", sans-serif;
  font-size: 1.15rem;
  font-weight: 400;
  padding-bottom: 20px;
}
/*  Latest Deal Section start */
.latest-deal {
  width: 1140px;
  /* height: 424px; */
  margin: 0 auto;
  margin-top: 100px;
}
.latest-content {
  margin-bottom: 120px;
}
.latest-title {
  font-family: "Noto Serif", serif;
  font-size: 3.15rem;
  font-weight: 700;
  text-align: center;
  padding-bottom: 16px;
}
.latest-description {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Inter", sans-serif;
  font-size: 1.15rem;
  font-weight: 400;
  text-align: center;
  width: 750px;
  margin: 0 auto;
}
.images {
  width: 1140px;
  /* height: 425px; */
  display: flex;
  padding-bottom: 120px;
}
.img-one {
  width: 366px;
  height: 206px;
  position: relative;
  background-image: url(../assets/deal-bloom.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 13px;
  border-radius: 10px;
}
.img-one::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 366px;
  height: 206px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.4);
}
.image-title-two {
  color: rgb(255, 255, 255);
  font-family: "Noto Serif", serif;
  font-size: 1.15rem;
  font-weight: 700;
  position: absolute;
  margin: 65px 80px 0px;
}
.image-description-two {
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  position: absolute;
  margin: 111px 135px 0px;
}
.img-two {
  width: 366px;
  height: 206px;
  position: relative;
  background-image: url(../assets/deal-ana.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.img-two::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 366px;
  height: 206px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.4);
}
.one-image {
  width: 753px;
  height: 425px;
  position: relative;
  background-image: url(../assets/deal-zabo.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  margin-left: 13px;
}
.one-image::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 753px;
  height: 425px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.4);
}
.image-title-one {
  color: rgb(255, 255, 255);
  font-family: "Noto Serif", serif;
  font-size: 2.5rem;
  font-weight: bold;
  position: absolute;
  margin: 170px 160px 0px;
}
.image-description-one {
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  font-size: 1.75rem;
  font-weight: 600;
  position: absolute;
  margin: 250px 290px 0px;
}

/* Join Section start  */
.join-part {
  background-image: url(../assets/news-letter-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 1440px;
  height: 533px;
  /* padding: 300px; */
}
.join-colorful {
  color: rgb(255, 255, 255);
  font-family: "Noto Serif", serif;
  font-size: 3.15rem;
  font-weight: 700;
  text-align: center;
  padding-top: 190px;
  padding-bottom: 24px;
}
.input-jone {
  text-align: center;
}
.join-input {
  width: 630px;
  height: 50px;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  padding-left: 15px;
  border: none;
}
.subscribe {
  width: 186px;
  height: 50px;
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  background-color: rgb(233, 90, 8);
}
/* Footer Section start*/
.foo-ter {
  width: 1120px;
  /* height: 248px; */
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  margin: 0 auto;
}
.footer-text {
  width: 330px;
  height: 81px;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Inter", sans-serif;
  font-size: 1.15rem;
  font-weight: 400;
  padding-top: 16px;
}
.footer-list {
  list-style: none;
  margin-bottom: 25px;
}
/* media query start */
.hide {
  display: none;
}
@media screen and (max-width: 576px) {
  /* header section start */
  nav {
    width: 360px;
    margin: 0 auto;
    padding-bottom: 10px;
  }
  .logo img {
    width: 50%;
  }
  .nav-item {
    flex-direction: column;
  }
  .item-nav {
    display: none;
  }
  .banner {
    flex-direction: column-reverse;
  }
  .banner-title {
    font-size: 2.5rem;
    padding-top: 10px;
  }
  .banner-content {
    margin: 0px 16px;
  }
  .banner-image,
  img {
    width: 100%;
  }
  /* Plants Section start  */

  .plants-description {
    width: 336px;
  }
  .cards {
    gap: 20px;
    width: 95%;
    height: 100%;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 50px;
  }
  .card-btn {
    width: 100%;
  }
  .cards-item {
    width: 100%;
    height: 100%;
  }
  /* Plants Lover Section start */
  .plants-lover {
    width: 100%;
    flex-direction: column;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  /* .plants-lover-image {
    width: 100%;
  } */
  .flower-store {
    width: 100%;
  }
  .trusted {
    display: none;
  }
  .plants-lover-content {
    width: 80%;
    padding-top: 500px;
  }
  .flower-text {
    font-size: 1.15rem;
  }
  .lover-li {
    width: 100%;
  }

  /* Latest Deal Section start */
  .latest-deal {
    width: 100%;
  }
  .images {
    width: 100%;
    flex-direction: column;
  }
  .latest-content {
    margin-bottom: 50px;
  }
  .latest-title {
    font-size: 1.5rem;
  }
  .latest-description {
    width: 95%;
    font-size: 1rem;
  }
  .images {
    align-items: center;
  }
  .one-image {
    width: 366px;
    height: 206px;
    margin-left: 0px;
    border-radius: 10px;
    margin-top: 10px;
  }
  .one-image::before {
    content: "";
    top: 0;
    left: 0;
    width: 366px;
    height: 206px;
    border-radius: 10px;
  }
  .image-title-one {
    color: rgb(255, 255, 255);
    font-family: "Noto Serif", serif;
    font-size: 1.15rem;
    font-weight: 700;
    margin: 65px 80px 0px;
  }
  .image-description-one {
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    margin: 111px 135px 0px;
  }
  /* Join Section start */
  .join-part {
    width: 100%;
  }
  .join-colorful {
    font-size: 1.25rem;
  }
  .join-input {
    width: 218px;
    height: 50px;
  }
  .subscribe {
    width: 103px;
    height: 50px;
  }
  /* Footer Section start */
  .foo-ter {
    width: 100%;
    flex-direction: column;
  }
  .footer-content {
    margin-left: 20px;
  }
  .footer-logo {
    width: 15%;
  }
  .footer-text {
    width: 350px;
  }
  .footer-list a {
    margin-left: -20px;
  }
  .footer-image {
    width: 5%;
    display: flex;
    margin-left: 18px;
  }
  .image-icon {
    padding-right: 15px;
  }
  .images {
    flex-direction: column;
  }
}
